@charset "UTF-8";
.mainInicio .nosotros .nosotrosTexto p, .mainServicios .galeriaServicios .card .card-text, .mainInstalaciones .nuestrasInstalaciones p, .mainInstalaciones .galeriaInstalaciones .card .card-text, .mainTurnos .descripcion .accordion .accordion-body {
  text-align: center;
  font-size: large;
  color: black;
  align-content: flex-start; }

.mainInicio .nosotros .carousel .carousel-caption p {
  text-align: left;
  padding: 10px;
  margin: 0;
  width: auto;
  background-color: #026b71b6;
  font-size: large;
  color: white; }

.footer p {
  font-size: smaller;
  color: black; }

.mainInicio .nosotros .nosotrosTexto h3, .mainInicio .notas h4, .mainServicios h3, .mainServicios .galeriaServicios .card .card-title, .mainInstalaciones .nuestrasInstalaciones h3, .mainTurnos .turnos h3, .mainTurnos .descripcion h3 button, .mainContacto .horario h3, .mainContacto .formConsulta h3, .footer .dc h6 {
  color: #026b71;
  margin: 20px;
  text-align: center;
  font-weight: 700;
  font-size: xx-large; }

.mainTurnos .turnos .formTurno, .mainContacto .formConsulta .inpConsulta {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  gap: 10px;
  padding: 5px; }
  .mainTurnos .turnos .formTurno input, .mainContacto .formConsulta .inpConsulta input {
    padding: 2px; }
    .mainTurnos .turnos .formTurno input:hover, .mainContacto .formConsulta .inpConsulta input:hover {
      border: solid 2px #026b71;
      border-radius: 3px; }

/* reseteo */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif !important; }

/* header */
.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  /* Logo */
  /* navbar */ }
  .header .logo {
    display: flex;
    position: sticky;
    width: 75vw;
    height: 90px;
    background: #b9d7d9;
    justify-content: flex-start;
    align-items: center;
    padding-right: 50px; }
    .header .logo img {
      width: 80px;
      height: auto;
      margin: 10px; }
    .header .logo h2 {
      font-size: large;
      max-width: 260px;
      height: inherit;
      color: #026b71;
      font-weight: 900;
      margin: 0;
      line-height: 1; }
    .header .logo a {
      text-decoration: none; }
      .header .logo a:hover {
        transform: scale(1, 1); }
  .header .respmenu {
    display: flex;
    color: white;
    font-weight: 600;
    font-size: large;
    position: relative;
    top: 0;
    right: 0;
    background: #b9d7d9;
    height: 90px;
    width: 25vw;
    z-index: 8; }
    .header .respmenu a {
      color: white;
      border-bottom: 1px solid #cbdfdf;
      display: block;
      padding: 10px 10px;
      background: #026b71;
      font-variant: small-caps;
      z-index: 10;
      text-decoration: none; }
      .header .respmenu a:hover {
        transform: scale(1, 1); }
    .header .respmenu .menu {
      font-size: 48px;
      pointer-events: none;
      margin: 30px;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px; }
    .header .respmenu .cruz {
      font-size: 48px;
      pointer-events: none;
      margin: 30px;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px; }
    .header .respmenu input[type="checkbox"] {
      opacity: 0;
      width: 90px;
      height: 90px;
      position: absolute;
      right: 0;
      top: 0; }
      .header .respmenu input[type="checkbox"]:checked ~ nav {
        display: block; }
      .header .respmenu input[type="checkbox"]:checked ~ .fondoOpaco {
        display: block; }
      .header .respmenu input[type="checkbox"]:checked ~ .menu {
        display: none; }
      .header .respmenu input[type="checkbox"]:not(:checked) ~ .cruz {
        display: none; }
    .header .respmenu .fondoOpaco {
      display: none;
      position: absolute;
      right: 0;
      top: 90px;
      z-index: 9;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.534); }
    .header .respmenu .nav {
      display: none;
      position: absolute;
      right: 0;
      top: 90px;
      z-index: 10;
      height: auto;
      background-color: #026b71;
      border-bottom-left-radius: 10px; }
      .header .respmenu .nav ul {
        list-style-type: none; }
        .header .respmenu .nav ul .small {
          display: flex;
          margin-top: auto; }
          .header .respmenu .nav ul .small a {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 12px; }
            .header .respmenu .nav ul .small a img {
              width: 25px;
              padding-right: 5px;
              filter: invert(1); }

@media (min-width: 768px) {
  /* navbar */
  .header .respmenu {
    display: flex;
    color: white;
    position: relative;
    background: #b9d7d9;
    height: 90px;
    width: 60vw; }
    .header .respmenu a {
      color: #026b71;
      display: flex;
      padding: 0px 8px;
      background: transparent;
      font-size: large;
      font-weight: bold;
      border: none; }
    .header .respmenu .active {
      text-decoration: underline; }
    .header .respmenu .menu {
      display: none; }
    .header .respmenu .cruz {
      display: none; }
    .header .respmenu input[type="checkbox"]:checked ~ nav {
      display: flex; }
    .header .respmenu input[type="checkbox"]:checked ~ .fondoOpaco {
      display: none; }
    .header .respmenu .nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      position: relative;
      margin-right: 40px;
      right: 0;
      top: 0px;
      height: 60px;
      width: inherit;
      background-color: transparent; }
      .header .respmenu .nav ul {
        display: flex;
        height: 90px;
        align-items: center;
        position: relative;
        right: 0; }
        .header .respmenu .nav ul .small {
          display: none; }
        .header .respmenu .nav ul li:hover {
          transform: scale(1.1); } }

/* logo whatsapp */
.logoFlotanteWapp {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  width: 5vw;
  min-width: 50px;
  z-index: 5; }
  .logoFlotanteWapp:hover {
    transform: scale(1.1); }

.mainInicio {
  min-height: 90vh;
  width: 100%;
  background-color: #d7ebec;
  /* nosotros */
  /* notas */ }
  .mainInicio .nosotros {
    padding: 20px;
    width: 100%; }
    .mainInicio .nosotros .nosotrosTexto {
      width: 80vw; }
    .mainInicio .nosotros .carousel {
      width: 100%;
      height: 50vh; }
      .mainInicio .nosotros .carousel .carousel-item img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: 70% 50%; }
      .mainInicio .nosotros .carousel .carousel-caption {
        right: 0%;
        left: 60%;
        bottom: 0; }
        .mainInicio .nosotros .carousel .carousel-caption p {
          border-radius: 10px 0px 0px 10px; }
  .mainInicio .notas .notasVideos iframe {
    width: 80vw;
    margin: 20px; }

/* servicios */
.mainServicios {
  min-height: 90vh;
  background-color: #d7ebec;
  /* galeria servicios */ }
  .mainServicios .galeriaServicios {
    width: 100%;
    padding: 0px 25px 25px 25px; }
    .mainServicios .galeriaServicios img {
      width: 100%; }
    .mainServicios .galeriaServicios .card {
      background-color: #b9d7d9;
      width: 100%; }
      .mainServicios .galeriaServicios .card .card-title {
        font-size: 25px; }
    .mainServicios .galeriaServicios .animate__animated {
      animation-duration: 2s; }

@media (min-width: 768px) {
  /* galeria servicios */
  .mainServicios .galeriaServicios .card img {
    max-height: 300px;
    object-fit: cover; } }

.mainInstalaciones {
  min-height: 90vh;
  background-color: #d7ebec;
  width: 100%;
  /* nuestras instalaciones */ }
  .mainInstalaciones .nuestrasInstalaciones {
    width: 80vw; }
  .mainInstalaciones .galeriaInstalaciones {
    padding: 20px;
    justify-content: space-evenly; }
    .mainInstalaciones .galeriaInstalaciones .card {
      margin: 20px 10px;
      background-color: #b9d7d9; }
      .mainInstalaciones .galeriaInstalaciones .card:hover {
        transform: scale(1.2);
        transition: 0.3s;
        z-index: 4; }

.mainTurnos {
  min-height: 90vh;
  background-color: #d7ebec;
  /* turnero */
  /* descripcion turnos */ }
  .mainTurnos .turnos img {
    width: 100%; }
  .mainTurnos .turnos .formTurno .itemTurno {
    width: 100%; }
  .mainTurnos .turnos .formTurno .enviarTurno {
    padding: 3px 6px; }
  .mainTurnos .descripcion img {
    width: 100%; }
  .mainTurnos .descripcion h3 button {
    font-size: 3vh; }
  .mainTurnos .descripcion .accordion .accordion-item {
    background-color: #b9d7d9; }
  .mainTurnos .descripcion .accordion .accordion-body {
    background-color: #d7ebec; }
  .mainTurnos .descripcion .accordion .accordion-button {
    background-color: #b9d7d9;
    border: solid 2px #b8b8b8;
    text-align: left; }
    .mainTurnos .descripcion .accordion .accordion-button:focus {
      box-shadow: none; }
    .mainTurnos .descripcion .accordion .accordion-button:hover {
      border-color: #026b71;
      font-size: 18px; }

@media (min-width: 768px) {
  .mainTurnos img {
    max-height: 400px;
    object-fit: cover;
    object-position: 0px 40%; } }

/* main contacto */
.mainContacto {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "horario" "formulario" "mapa";
  justify-items: center;
  background-color: #d7ebec;
  /* horario */
  /* consulta */ }
  .mainContacto .horario {
    grid-area: horario;
    max-width: 90%;
    margin: 20px; }
    .mainContacto .horario th,
    .mainContacto .horario td {
      font-size: 3vw;
      padding: 3px 10px;
      border: 3px solid black; }
  .mainContacto .formConsulta {
    grid-area: formulario;
    margin: 20px; }
  .mainContacto .gridMapa {
    width: 100%;
    height: 100%;
    grid-area: mapa;
    margin: 20px;
    align-self: center; }
    .mainContacto .gridMapa .mapa {
      width: 100%;
      height: inherit;
      padding: 30px; }

@media (min-width: 768px) {
  .mainContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "horario horario" "formulario mapa";
    /* horario */ }
    .mainContacto .horario h3 {
      margin: 20px; }
    .mainContacto .horario th,
    .mainContacto .horario td {
      font-size: 15px;
      padding: 3px 10px;
      border: 3px solid black; } }

/* footer */
.footer {
  background-color: #b9d7d9;
  width: 100%;
  position: relative;
  z-index: 8;
  /* redes sociales */
  /* director clínico */ }
  .footer p {
    margin-top: 30px; }
  .footer .redes img {
    height: 30px;
    width: 30px;
    margin: 3px 10px; }
  .footer .dc img {
    width: 60px; }
  .footer .dc h6 {
    font-size: 12px; }

@media (min-width: 768px) {
  .footer p {
    margin: 0; } }
