.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $colorHeader;
    height: 90px;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    p {
        @extend %subIndice;
      }
      .redes{
        img {
            height: 30px;
            width: 30px;
            margin: 3px;
          }
      }
      .dc{
        display: flex;
        align-items: center;
        img {
            width: 60px;
            height: 80px;
          }
          h6 {
            @include tituloSecundario (2vh);
          }
      }
  }
  

