/* footer */
.footer {
  background-color: $colorHeader;
  width: 100%;
  position: relative;
  z-index: 8;
  p {
    margin-top: 30px;
    @extend %subIndice;
  }
  /* redes sociales */
  .redes {
    img {
      height: 30px;
      width: 30px;
      margin: 3px 10px;
    }
  }
  /* director clínico */
  .dc {
    img {
      width: 60px;
    }
    h6 {
      @include tituloSecundario(12px);
    }
  }
}
@media (min-width: 768px) {
  .footer {
    p {
      margin: 0;
    }
  }
}
