/* header */
.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  /* Logo */
  .logo {
    display: flex;
    position: sticky;
    width: 75vw;
    height: 90px;
    background: $colorHeader;
    justify-content: flex-start;
    align-items: center;
    padding-right: 100px;
    img {
      width: 80px;
      height: auto;
      margin: 10px;
    }
    h2 {
      font-size: large;
      max-width: 260px;
      height: inherit;
      color: $colorLogo;
      font-weight: 900;
      margin: 0;
      line-height: 1;
    }
    a {
      text-decoration: none;
    }
  }
  /* navbar */
  .respmenu {
    display: flex;
    color: white;
    font-weight: 600;
    font-size: large;
    position: relative;
    top: 0;
    right: 0;
    background: $colorHeader;
    height: 90px;
    width: 25vw;
    z-index: 10;
    a {
      color: white;
      border-bottom: 1px solid #cbdfdf;
      display: block;
      padding: 10px 20px;
      background: $colorLogo;
      font-variant: small-caps;
      z-index: 10;
      text-decoration: none;
    }
    .menu {
      font-size: 48px;
      pointer-events: none;
      margin: 30px;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
    }
    .cruz {
      font-size: 48px;
      pointer-events: none;
      margin: 30px;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
    }
    input[type="checkbox"] {
      opacity: 0;
      width: 90px;
      height: 90px;
      position: absolute;
      right: 0;
      top: 0;
      &:checked ~ nav {
        display: block;
      }
      &:checked ~ .menu {
        display: none;
      }
      &:not(:checked) ~ .cruz {
        display: none;
      }
    }
    .nav {
      display: none;
      position: absolute;
      right: 0;
      top: 90px;
      z-index: 10;
      height: auto;
      background-color: $colorLogo;
      border-bottom-left-radius: 10px;
      ul {
        list-style-type: none;
      }
      .small {
        display: flex;
        margin-top: auto;
        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  /* navbar */
  .header {
    .respmenu {
      display: flex;
      color: white;
      position: relative;
      background: $colorHeader;
      height: 90px;
      width: 60vw;
      a {
        color: $colorLogo;
        display: flex;
        padding: 0px 10px;
        background: transparent;
        font-size: large;
        font-weight: bold;
        border: none;
      }
      .active {
        text-decoration: underline;
      }
      .menu {
        display: none;
      }
      .cruz {
        display: none;
      }

      .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        position: relative;
        margin-right: 40px;
        right: 0;
        top: 0px;
        height: 60px;
        width: inherit;
        background-color: transparent;
        ul {
          display: flex;
          height: 90px;
          align-items: center;
          position: relative;
          right: 0;
          .small {
            display: none;
          }
        }
      }
    }
  }
}
