/* servicios */
.mainServicios {
  display: flex;
  flex-direction: column;
  background-color: $colorFondo;
  h3 {
    @extend %titulo;
  }
  /* galeria servicios */
  .galeriaServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 25px 25px 25px;
    img {
      width: 100%;
    }
    .card {
      background-color: $colorHeader;
      width: 100%;
      .card-reverse {
        display: flex;
        flex-direction: column-reverse;
      }
      .card-title {
        @include tituloSecundario(25px);
      }
      .card-text {
        @extend %estiloParrafo;
      }
    }
    .animate__animated {
      animation-duration: 2s;
    }
  }
}

@media (min-width: 768px) {
  /* galeria servicios */
  .mainServicios {
    .galeriaServicios {
      .card {
        img {
          max-height: 300px;
          object-fit: cover;
        }
        .card-reverse {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}
