.mainInicio {
  min-height: 90vh;
  width: 100%;
  background-color: $colorFondo;
  /* nosotros */
  .nosotros {
    padding: 20px;
    width: 100%;
    .nosotrosTexto {
      width: 80vw;
      h3 {
        @extend %titulo;
      }
      p {
        @extend %estiloParrafo;
      }
    }
    .carousel {
      width: 100%;
      height: 50vh;
      .carousel-item {
        img {
          width: 100%;
          height: 50vh;
          object-fit: cover;
          object-position: 70% 50%;
        }
      }
      .carousel-control-next-icon,
      .carousel-control-prev-icon {
        height: 50px;
        background-color: #026b71be;
        border-radius: 20px;
      }
      .carousel-indicators {
        button {
          background-color: #026b71;
          border-radius: 5px;
          height: 5px;
        }
      }
      .carousel-caption {
        right: 0%;
        left: 60%;
        bottom: 0;
        p {
          @extend %estiloParrafoLigth;
          border-radius: 10px 0px 0px 10px;
        }
      }
    }
  }
  /* notas */
  .notas {
    h4 {
      @extend %titulo;
    }
    .notasVideos {
      iframe {
        width: 80vw;
        margin: 20px;
      }
    }
  }
}
